/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/

.flexslider {
    margin: 0;
    padding: 0;
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {
    width: 100%;
    display: block;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
/* Clearfix for the .slides element */

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .slides {
    display: block;
}
* html .slides {
    height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {
    display: block;
}
/* FlexSlider Default Theme
*********************************/

.flexslider {
    margin: 0 0 60px;
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    zoom: 1;
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.loading .flex-viewport {
    max-height: 300px;
}
.flexslider .slides {
    zoom: 1;
}
.carousel li {
    margin-right: 5px
}
/* Direction Nav */

.flex-direction-nav {
    *height: 0;
}
.flex-direction-nav a {
    width: 30px;
    height: 30px;
    margin: -20px 0 0;
    display: block;
    background: url(../images/bg_direction_nav.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
    background-position: 100% 0;
    right: -36px;
}
.flex-direction-nav .flex-prev {
    left: -36px;
}
.flexslider:hover .flex-next {
    opacity: 0.8;
    right: 5px;
}
.flexslider:hover .flex-prev {
    opacity: 0.8;
    left: 5px;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1;
}
.flex-direction-nav .flex-disabled {
    opacity: .3!important;
    filter: alpha(opacity=30);
    cursor: default;
}
/* Control Nav */

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}
.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}
.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}
.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}
.flex-control-thumbs img:hover {
    opacity: 1;
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}
#slider {
    margin: 0;
    position: relative;
    overflow: hidden;
    padding: 0;
    background: #000;
    width: 100%;
}
#flexslider {
    position: relative;
    overflow: hidden;
    width: 100%;
}
#flexslider .slides>li {
    display: none;
    position: relative;
    width: 100%;
}
.flex-viewport {
    width: 100%;
}
#flexslider .slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#flexslider .slides {
    list-style: none outside none;
    margin: 0;
}
#flexslider .slides img {
    width: 100%
}
#flexslider .flex-direction-nav {} #flexslider .flex-direction-nav li {
    display: block;
    width: 56px;
    height: 56px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -28px;
}
#flexslider .flex-direction-nav li:first-child {
    right: auto;
    left: 0;
}
#flexslider .flex-direction-nav a {
    width: 56px;
    height: 56px;
    margin: 0;
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 1;
    -webkit-transition: none;
}
#flexslider .flex-direction-nav .flex-next {
    right: -56px;
    background: url(../images/next.png) no-repeat left top;
}
#flexslider .flex-direction-nav .flex-prev {
    left: -56px;
    background: url(../images/prev.png) no-repeat left top;
}
#flexslider:hover .flex-next {
    right: 0px;
}
#flexslider:hover .flex-prev {
    left: 0px;
}
#flexslider .flex-next:hover,
#flexslider .flex-prev:hover {
    opacity: 1;
    background-position: right;
}
#flexslider .flex-direction-nav .flex-disabled {
    opacity: .3!important;
    filter: alpha(opacity=30);
    cursor: default;
}
#flexslider .flex-disabled.flex-next:hover,
#flexslider .flex-disabled.flex-prev:hover {
    opacity: 1;
    background-position: left;
}
.flex-caption {
    position: absolute;
    left: 50%;
    margin-left: -470px;
    bottom: 0%;
    z-index: 1;
    text-align: center;
}
.flex-caption > div {
    display: block;
    text-align: left;
    width: 480px;
    padding: 20px 30px;
    background: url(../images/slider_bg.png);
}
.flex-caption .txt1 {
    font: 30px/30px 'Roboto';
    font-weight: 400;
    color: #d05a3a;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: url(../images/slider_px.png) left bottom repeat-x;
}
.flex-caption .txt2 {
    font: 14px/22px 'Roboto';
    font-weight: 300;
    color: #fff;
}
#slider_thumbs {
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: url(../images/px1.png);
}
#slider_thumbs_wrapper {
    position: relative;
}
#slider_thumbs_inner {
    position: relative;
    margin: 0;
    padding: 15px 16px 15px;
}
#carousel {
    padding: 0;
    margin: 0;
    border: none;
    background: #000;
    position: relative;
}
#carousel .flex-viewport {} #carousel .slides > li {
    width: 181px!important;
    background: #000;
    margin-right: 1px;
}
#carousel .slides > li img {
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
#carousel .slides > li.flex-active-slide img {
    opacity: 1;
    filter: alpha(opacity=100);
}
#carousel .flex-direction-nav a {
    width: 20px;
    height: 20px;
    margin: 0;
    display: block;
    position: absolute;
    top: 40px;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 1;
    -webkit-transition: none;
}
#carousel .flex-direction-nav .flex-next {
    right: -40px;
    background: url(../images/next2.png) no-repeat left top;
}
#carousel .flex-direction-nav .flex-prev {
    left: -40px;
    background: url(../images/prev2.png) no-repeat left top;
}
#carousel:hover .flex-next {} #carousel:hover .flex-prev {} #carousel .flex-next:hover,
#carousel .flex-prev:hover {
    opacity: 1;
    background-position: bottom;
}
#carousel .flex-direction-nav .flex-disabled {
    opacity: .3!important;
    filter: alpha(opacity=30);
    cursor: default;
}
#carousel .flex-disabled.flex-next:hover,
#carousel .flex-disabled.flex-prev:hover {
    opacity: 1;
    background-position: left;
}
.slogan {
    background: url(../images/slogan.png);
    width: 300px;
    height: 300px;
    position: absolute;
    right: 50%;
    margin-right: -470px;
    top: 50%;
    margin-top: -150px;
    z-index: 2;
    text-align: center;
    border-radius: 2%;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
}
.slogan .txt1 {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    line-height: 35px;
    padding-top: 55px;
    color: #fff;
}
.slogan .txt2 {
    font-family: 'Roboto';
    font-size: 40px;
    line-height: 50px;
    padding-top: 15px;
    color: #e0fd4b;
}
.slogan .txt3 {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 20px;
    padding-top: 15px;
    color: #c1c1c1;
}
.slogan .slogan_close {
    display: block;
    text-decoration: none;
    width: 41px;
    height: 41px;
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 2;
}
.slogan .slogan_close span {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/close.png) left top no-repeat;
}
.slogan .slogan_close:hover span {
    background-position: bottom;
}
@media (min-width: 1200px) {
    .slogan {
        width: 400px;
        height: 400px;
        margin-right: -585px;
        margin-top: -200px;
    }
    .slogan .slogan_close {
        right: 40px;
        top: 40px;
    }
    .slogan .txt1 {
        font-size: 40px;
        line-height: 40px;
        padding-top: 105px;
    }
    .slogan .txt2 {
        font-size: 45px;
        line-height: 55px;
        padding-top: 15px;
    }
    .slogan .txt3 {
        font-size: 14px;
        line-height: 20px;
        padding-top: 15px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .slogan {
        width: 200px;
        height: 200px;
        margin-right: -362px;
        margin-top: -100px;
    }
    .slogan .slogan_close {
        right: 10px;
        top: 10px;
    }
    .slogan .txt1 {
        font-size: 20px;
        line-height: 20px;
        padding-top: 45px;
    }
    .slogan .txt2 {
        font-size: 25px;
        line-height: 25px;
        padding-top: 15px;
    }
    .slogan .txt3 {
        font-size: 14px;
        line-height: 20px;
        padding-top: 15px;
    }
}
@media (max-width: 767px) {
    .slogan {
        visibility: hidden;
    }
}
@media (max-width: 480px) {
    #slider_thumbs {
        display: none;
    }
}