/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
/**** Custom ****/

#isotope-options {} #isotope-filters {
    margin: 20px 0px 30px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
}
#isotope-filters li {
    display: inline-block;
    float: left;
    margin-right: 35px;
    margin-bottom: 10px;
}
#isotope-filters li a {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    position: relative;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0px;
    background: url(../images/more1.jpg) 0 0 repeat-x;
    padding: 0 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
#isotope-filters li a.selected,
#isotope-filters li a:hover {
    color: #000;
    background-position: bottom;
}
#isotope-items.thumbnails {
    margin-bottom: 0;
}
#isotope-items.thumbnails > li {
    margin-bottom: 30px;
}