<!DOCTYPE html>
<html lang="en">

<head>
    <title>about</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="providing expert advice, quality plant materials, fencing, waterfall and pond installation and reliable service for over 30 years. Plymouth Nursery boasts a lush 10 acres containing one of the areas largest selections of plant material.">
    <meta name="keywords" content="Plymouth, Nursery, Pa, plants, trees, LANDSCAPE DESIGN & INSTALLATION, SERVICES, MASONRY, PONDS & WATERFALLS, NURSERY & GARDEN CENTER, FENCING, LANDSCAPE LIGHTING HENRI STUDIO statuary">
    <meta name="author" content="Frank DiJohn">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/supersized.core.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/superfish.js"></script>
    <script type="text/javascript" src="js/supersized.core.3.2.1.js"></script>
    <script type="text/javascript" src="js/jquery.caroufredsel.js"></script>
    <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <!-- <script src="https://www.w3schools.com/lib/w3data.js"></script> -->

    <script>
        $(document).ready(function() {
            //carufredsel
            $('#caroufredsel').carouFredSel({
                auto: {
                    timeoutDuration: 9000
                },
                responsive: true,
                direction: "left",
                //prev: '.prev',
                //next: '.next',
                width: '100%',
                scroll: {
                    items: 1,
                    duration: 1000,
                    easing: "easeOutExpo",
                    fx: "fade"
                },
                items: {
                    width: '1000',
                    height: 'variable', //	optionally resize item-height			  
                    visible: {
                        min: 1,
                        max: 1
                    }
                },
                mousewheel: false,
                swipe: {
                    onMouse: false,
                    onTouch: false
                },
                pagination: ".pagination"


            });

            //slider2_carousel
            $('#slider2_carousel').carouFredSel({
                auto: {
                    timeoutDuration: 4000
                },
                responsive: true,
                prev: '.prev',
                next: '.next',
                width: '100%',
                scroll: {
                    items: 1,
                    duration: 1000,
                    easing: "easeOutExpo"
                },
                items: {
                    width: '1000',
                    height: 'variable', //	optionally resize item-height			  
                    visible: {
                        min: 1,
                        max: 1
                    }
                },
                mousewheel: false,
                swipe: {
                    onMouse: true,
                    onTouch: true
                }
            });



        }); //
        $(window).load(function() {
            // 

        }); //
    </script>
    <!--[if lt IE 8]>
		<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>  
	<![endif]-->

    <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>      
  <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>

<body class="subpage">
    <div id="main">

        INSERT-HTML-FILE:header.html
        
        <br>
        <br>
        <br>
        <br>
        <br>

        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="span9">
                        <h1>About Us<br><span>Who We Are</span></h1>

                        <div class="thumb1">
                            <div class="thumbnail clearfix">
                                <figure class="img-polaroid img-shadow1 w1"><img src="images/brothers.jpg" alt="">
                                </figure>
                                <div class="caption">
                                    <p>
                                    Plymouth Nursery is located in the heart of Plymouth Meeting, Pa. Plymouth Nursery boasts  a lush 10 acres containing 
                                    one of the areas largest selections of plant  materials. 

                                    Plymouth Nursery's roots extend back to the 1940&rsquo;s when the founding members John, Joseph and Peter DiJiosia 
                                    started a lawn maintenance company in the Radnor, PA area (Close to Villanova University).&nbsp; The nursery was 
                                    started in 1965 and later became Plymouth Nursery. Since that time Plymouth Nursery and Landscape Company has 
                                    expanded into many areas of the landscape and masonry industry. Our varied capabilities coupled with our outstanding 
                                    customer service are our greatest assets to our clients.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="line1"></div>
                    </div>

                    <div class="span3">
                        <h3>Testimonials</h3>

                        <div class="caroufredsel_slider">
                            <div class="pagination" id="caroufredsel_pag"></div>
                            <ul id="caroufredsel" class="clearfix">
                                <li>
                                    <div class="testimonial1">
                                        <div class="txt1">
                                            We are extremely satisfied with our recent decision to have Plymouth Landscaping renovate our backyard. 
                                            From the very beginning, John worked with us to create a visually appealing, contemporary, and affordable 
                                            design for our budget. The high quality workmanship and professionalism of Plymouth Landscaping is second 
                                            to none. We are looking forward to having Plymouth Landscaping fulfill our future landscaping needs. 
                                            We highly recommend their services for your landscaping projects!
                                        </div>
                                        <div class="txt2">
                                            Charles King and <br>
                                            Sheron Seerattan
                                            <br><span>Plymouth Meeting PA</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial1">
                                        <div class="txt1">
                                            Just a quick note to say how much I enjoyed working with Plymouth Nursery. The installers were on-site 
                                            promptly everyday and performed the task in a professional, friendly and clean manner which is 
                                            appreciated by our family. The result of their efforts is a beautiful Flagstone Entry, Walkway and 
                                            Breezeway that truly enhances our home. Simply said, thank you for a job well done.
                                        </div>
                                        <div class="txt2">
                                            Doug & Celeste White
                                            <br><span>Montgomery County PA</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial1">
                                        <div class="txt1">
                                            Thank you doing a great job. You did masonry work on my driveway, redid the patio and installed a 
                                            retaining wall. It is absolutely gorgeous. Your crew was professional and courteous. They were 
                                            especially good with the kids. I would definitely recommend you to anyone that wants any work done. 
                                            It was my pleasure working with you. Take care and once again thanks for a job well done."
                                        </div>
                                        <div class="txt2">
                                            Peter Lim
                                            <br><span>Plymouth Meeting PA</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial1">
                                        <div class="txt1">
                                            My name is Maryann Layfield and I live in East Norriton, PA. I recently had the interior of my 
                                            house remodeled and wanted to do the same to the outside. I called a few landscapers in the area. 
                                            I liked Plymouth Nursery the best. They were reasonably priced and the work they did was fantastic. 
                                            You really get alot for your money.

                                            The design John DiJiosia came up with and executed was just what I wanted and I have received many 
                                            compliments on it. John was very easy to work with. He would listen to what I wanted, but also 
                                            directed me with his expertise. His men were very pleasant and very neat workers. They did what 
                                            they needed to do, on time, and very well done. I only have good things to say about my experience 
                                            with Plymouth Nursery and would recommend them to family and friends ( and I have!!). A+++
                                        </div>
                                        <div class="txt2">
                                            Maryann Layfield,
                                            <br><span>East Norriton PA</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial1">
                                        <div class="txt1">
                                            Plymouth Nursery has been a great partner of ours since 1998 and have totally revised the 
                                            landscaping at two of our homes.
                                        </div>
                                        <div class="txt2">
                                            Jeff and Traci Evitts,
                                            <br><span>Philadelphia Area</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial1">
                                        <div class="txt1">
                                            When my wife and I wanted to improve the look of our property we called Plymouth Nursery. 
                                            It was out first and only call. We had seen their signs throughout the neighborhood, over 
                                            the years, and admired their work.

                                            Joe came to see us with a well-prepared presentation and plan. He was open to our ideas 
                                            and implemented them perfectly. He offered a fair price and actually did everything he 
                                            promised, which, unfortunately, is rare today. And he stands by his work after the sale! 
                                            Our family was thrilled with the result and we continue to get a lot of compliments on our 
                                            landscaping from friends and neighbors.

                                            Over the years Joe has remained available for maintenance and smaller changes as we continue 
                                            to rely on Plymouth Nursery for all our landscaping needs.
                                        </div>
                                        <div class="txt2">
                                             Eric Baumholtz,
                                            <br><span>Philadelphia Area</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="slider2">
            <div id="slider2_inner">
                <ul id="slider2_carousel" class="clearfix">
                    <li>
                        <div class="txt3">
                            <a href="http://www.angieslist.com/companylist/us/pa/plymouth-meeting/plymouth-nursery-landscape-co-reviews-124095.htm?cid=ssabadge">
                                <img src="images/angies-list-2016.png" class="img-responsive" alt="Angie's List Super Service Award Winnger" /> 2016 Angie's List Super Service Award Winner
                            </a>                            
                        </div>
                    </li>
                    <!--<li>
                        <div class="txt1">
                        	Landscape Design working since 2003
                        </div>
                        <div class="txt2">
                        	Duis pulvinar. Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu libero consectetuer massa, auctor aliquet mauris ligula id ipsum. Vestibulum pede. Maecenas sit amet augue. Sed blandit lect
                        </div>		
                        </li>
                        <li>
                        <div class="txt1">
                        	Good support for your business!
                        </div>
                        <div class="txt2">
                        	Duis pulvinar. Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu libero consectetuer massa, auctor aliquet mauris ligula id ipsum. Vestibulum pede. Maecenas sit amet augue. Sed blandit lect
                        </div>		
                        </li>-->			
                </ul>
                <a class="prev" href="#"></a>
                <a class="next" href="#"></a>
            </div>
        </div>

        INSERT-HTML-FILE:footer.html

    </div>

    INSERT-HTML-FILE:googleanalyticstracking.html

</body>

</html>