        <footer>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="bot1 clearfix"></div>	
                        <div class="bot2 clearfix">
        	                <div class="copyright">Copyright XTrack Technologies. All rights reserved.</div>
                            <div class="social_wrapper">
                                <ul class="social clearfix">
                                    <li><a href="https://www.facebook.com/plymouthnursery/"><img src="images/social_facebook.png"></a></li>
                                    <li><a href="http://twitter.com/plymouthnursery"><img src="images/social_twitter.png"></a></li>
                                    <!-- <li><a href="http://www.houzz.com/pro/nursery113/plymouth-nursery-and-landscape-company"><img src="images/social_houzz.png"></a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>	
                </div>	
            </div>	
        </footer>
