        <header>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="header_inner clearfix">
                            <div class="logo_wrapper">
                                <div class="logo_inner">
                                    <a href="index.html" class="logo">
                                        <img src="images/PN-logo.png" alt="Plymouth Nursery and Landscape Co." />
                                    </a>
                                </div>
                            </div>
        
                            <div class="menu_wrapper">
                                <div class="navbar navbar_">
                                    <div class="navbar-inner navbar-inner_">
                                        <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
        			                        <span class="icon-bar"></span>
                                        </a>
                                        
        		                        <div class="nav-collapse nav-collapse_ collapse">
        		                            <ul class="nav sf-menu clearfix">
        			                            <li class="active"><a href="index.html">Home</a></li>	
        			                            <!--<li class="sub-menu sub-menu-1"><a href="services.html">Services<em></em></a>-->
        			                            <li class="sub-menu sub-menu-1"><a href=#>Services<em></em></a>
        				                            <ul>
                                                        <li><a href="commercial.html">Commercial</a></li>
                                                        <li><a href="landscaping.html">Landscaping</a></li>
                                                        <li><a href="masonry.html">Masonry</a></li>
                                                        <li><a href="pondsandwaterfalls.html">Ponds &amp; Waterfalls</a></li>
                                                        <li><a href="lighting.html">Lighting</a></li>
                                                        <li><a href="sprinklersystems.html">Sprinkler Systems</a></li>
                                                        <li><a href="holidaydecorating.html">Holiday Decorating</a></li>
                                                        <li><a href="outdoorlivingspaces.html">Outdoor Living Spaces</a></li>
        					                            <li><a href="designcenter.html">Design Center</a></li>
        				                            </ul>						
        			                            </li>
												<li><a href="about.html">About</a></li>		
        			                            <!--<li><a href="testimonials.html">Testimonials</a></li>-->
        			                            <li><a href="contacts.html">Contact Us</a></li>											
                                            </ul>
                                        </div>
                                    </div>                                
                                </div>
                            </div>
                        </div>	
                    </div>	
                </div>	
            </div>	
        </header>
