<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plymouth Nursery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="providing expert advice, quality plant materials, fencing, waterfall and pond installation and reliable service for over 30 years. Plymouth Nursery boasts a lush 10 acres containing one of the areas largest selections of plant material.">
    <meta name="keywords" content="Plymouth, Nursery, Pa, plants, trees, LANDSCAPE DESIGN & INSTALLATION, SERVICES, MASONRY, PONDS & WATERFALLS, NURSERY & GARDEN CENTER, FENCING, LANDSCAPE LIGHTING HENRI STUDIO statuary">
    <meta name="author" content="Frank DiJohn">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" media="screen">    
    <link rel="stylesheet" href="css/supersized.core.css" type="text/css" media="screen">  
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen"> 
    <link rel="stylesheet" href="css/touchTouch.css" type="text/css" media="screen">  
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    
    <script type="text/javascript" src="js/jquery.js"></script>  
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/superfish.js"></script>
    <script type="text/javascript" src="js/supersized.core.3.2.1.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="js/jquery.caroufredsel.js"></script>
    <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="js/touchTouch.jquery.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <!-- <script src="https://www.w3schools.com/lib/w3data.js"></script> -->
    
    <script>
        $(document).ready(function() {
        	/////// close	
        	$(".slogan_close").click(function() {
        		$(".slogan").stop().css({'display':'none' });		    
        	}); 
        
        	//slider2_carousel
        	$('#slider2_carousel').carouFredSel({
        		auto: {
        			timeoutDuration: 4000					
        		},
        		responsive: true,
        		prev: '.prev',
        		next: '.next',
        		width: '100%',
        		scroll: {
        			items: 1,
        			duration: 1000,
        			easing: "easeOutExpo"
        		},			
        		items: {
                	width: '1000',
        			height: 'variable',	//	optionally resize item-height			  
        			visible: {
        				min: 1,
        				max: 1
        			}
        		},
        		mousewheel: false,
        		swipe: {
        			onMouse: true,
        			onTouch: true
        			}
        	}); 
        
        	//	carouFredSel
        	$('#slider3 .carousel.main ul').carouFredSel({
        		auto: {
        			timeoutDuration: 4000					
        		},
        		responsive: true,
        		prev: '.prev3',
        		next: '.next3',
        		width: '100%',
        		scroll: {
        			items: 1,
        			duration: 1000,
        			easing: "easeOutExpo"
        		},			
        		items: {
                	width: '300',
        			height: 'auto',	//	optionally resize item-height			  
        			visible: {
        				min: 2,
        				max: 4
        			}
        		},
        		mousewheel: false,
        		swipe: {
        			onMouse: true,
        			onTouch: true
        			}
        	});
        	$(window).bind("resize",updateSizes_vat).bind("load",updateSizes_vat);
        	function updateSizes_vat(){
        		$('#slider3 .carousel.main ul').trigger("updateSizes");
        	}
        	updateSizes_vat();
        	
        	// touchTouch
        	$('.thumb-carousel .thumbnail a').touchTouch();

        }); //
        
        $(window).load(function() {
        	// flexslider
        	$('#carousel').flexslider({
                animation: "slide",
                startAt: 0,
                controlNav: false,
                animationLoop: true,
                pauseOnAction: false,     
                slideshow: false,
                itemWidth: 181,
                itemMargin: 1,
                asNavFor: '#flexslider'
              });
              
        	$('#flexslider').flexslider({
                animation: "slide",  
                startAt: 0,
                slideshowSpeed: 5000, 
                pauseOnAction: false,     
                controlNav: false,
                directionNav: false,  
                animationLoop: true,
                slideshow: true,
                sync: "#carousel",
                start: function(slider){
                  //$('body').removeClass('loading');
                }
            });
        }); 
    </script>		
    
    <!--[if lt IE 8]>
    		<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>  
    	<![endif]-->    
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>      
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <![endif]-->
</head>

<body class="main">
    <div id="main">
        
        INSERT-HTML-FILE:header.html
        
        <div id="slider">
			<!--<div class="slogan">
				<a href="#" class="slogan_close"><span></span></a>
				<div class="txt1">Welcome to</div>
				<div class="txt2">Landscape<br>Design</div>
				<div class="txt3">working since 2003</div>
			</div>-->
		
        	<div id="flexslider">
        		<ul class="slides clearfix">
        			<li><img src="images/PN_slide01.jpg" alt=""></li>
        			<li><img src="images/PN_slide02.jpg" alt=""></li>
        			<li><img src="images/PN_slide03.jpg" alt=""></li>
        			<li><img src="images/PN_slide04.jpg" alt=""></li>
        			<li><img src="images/PN_slide05.jpg" alt=""></li>
        			<li><img src="images/PN_slide06.jpg" alt=""></li>
        			<li><img src="images/PN_slide07.jpg" alt=""></li>
        			<li><img src="images/PN_slide08.jpg" alt=""></li>
        			<li><img src="images/PN_slide09.jpg" alt=""></li>
        		</ul>
        	</div>
        </div>	
    	
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="span12">
                    </div>	
                </div>	
            </div>	
        </div>
        
		<div id="content2">
			<div class="container">
				<div class="row">
					<div class="span9">

						<h1 class="home">Plymouth Nursery<br><span>and Landscape Co.</span></h1>

						<div class="thumb1">
							<div class="thumbnail clearfix">
								<figure class="img-polaroid img-shadow1 w1"><img src="images/home01.jpg" alt=""></figure>
								<div class="caption">
									<p>
										Plymouth Nursery has always been known for providing our customers with the best design and planting services in the area. 
										Our ten-acre nursery allows us to provide our customers with lush and healthy plant material on every job.
									</p>
									
									<p>
										Plymouth Nurserys staff consists of degreed Landscape designers, horticulturists and P.A. Certified Nurserymen. Call us to 
										arrange a free consultation at your home or business. Our desgners can take a photograph of your home or business and digitally 
										scan it on to our computers and produce a full color image of your grounds fully landscaped! We can also produce a beautiful 
										hand-drafted presentation of your home or business.
									</p>
									<!--<a href="#" class="button1">read more</a>-->
								</div>
							</div>
						</div>
					</div>
					<div class="span3">
						<ul class="ul1">
							<li><a href="commercial.html">Commercial</a></li>
							<li><a href="landscaping.html">Landscaping</a></li>
							<li><a href="masonry.html">Masonry</a></li>
							<li><a href="pondsandwaterfalls.html">Ponds &amp; Waterfalls</a></li>
							<li><a href="lighting.html">Lighting</a></li>
							<li><a href="sprinklersystems.html">Sprinkler Systems</a></li>
							<li><a href="holidaydecorating.html">Holiday Decorating</a></li>
							<li><a href="outdoorlivingspaces.html">Outdoor Living Spaces</a></li>
							<li><a href="designcenter.html">Design Center</a></li>    
						</ul>						
					</div>
				</div>	
			</div>	
		</div>

		<div id="slider2">
			<div id="slider2_inner">
				<ul id="slider2_carousel" class="clearfix">
                    <li>
                        <div class="txt3">
                            <a href="http://www.angieslist.com/companylist/us/pa/plymouth-meeting/plymouth-nursery-landscape-co-reviews-124095.htm?cid=ssabadge">
                                <img src="images/angies-list-2016.png" class="img-responsive" alt="Angie's List Super Service Award Winnger" /> 2016 Angie's List Super Service Award Winner
                            </a>                            
                        </div>
                    </li>
					<!--<li>
						<div class="txt1">
							Landscape Design working since 2003
						</div>
						<div class="txt2">
							Duis pulvinar. Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu libero consectetuer massa, auctor aliquet mauris ligula id ipsum. Vestibulum pede. Maecenas sit amet augue. Sed blandit lect
						</div>		
					</li>
					<li>
						<div class="txt1">
							Good support for your business!
						</div>
						<div class="txt2">
							Duis pulvinar. Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu libero consectetuer massa, auctor aliquet mauris ligula id ipsum. Vestibulum pede. Maecenas sit amet augue. Sed blandit lect
						</div>		
					</li>-->			
				</ul>
				<a class="prev" href="#"></a>
				<a class="next" href="#"></a>
			</div>	
		</div>
		
        INSERT-HTML-FILE:footer.html
        
    </div>
    
    <!--
    <script>
        w3IncludeHTML();
    </script>
    -->

    INSERT-HTML-FILE:googleanalyticstracking.html

</body>
</html>
