<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Plymouth Nursery | Lighting</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Your description">
        <meta name="keywords" content="Your keywords">
        <meta name="author" content="Your name">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/supersized.core.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/touchTouch.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/isotope.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
        <script type="text/javascript" src="js/jquery.js"></script>  
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/superfish.js"></script>
        <script type="text/javascript" src="js/supersized.core.3.2.1.js"></script>
        <script type="text/javascript" src="js/jquery.flexslider.js"></script>
        <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="js/jquery.caroufredsel.js"></script>
        <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
        <script type="text/javascript" src="js/touchTouch.jquery.js"></script>
        <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        
        <!-- <script src="https://www.w3schools.com/lib/w3data.js"></script> -->
        <script>
            $(document).ready(function() {	
            //slider2_carousel
            $('#slider2_carousel').carouFredSel({
            auto: {
            timeoutDuration: 4000					
            },
            responsive: true,
            prev: '.prev',
            next: '.next',
            width: '100%',
            scroll: {
            items: 1,
            duration: 1000,
            easing: "easeOutExpo"
            },			
            items: {
            	width: '1000',
            height: 'variable',	//	optionally resize item-height			  
            visible: {
            min: 1,
            max: 1
            }
            },
            mousewheel: false,
            swipe: {
            onMouse: true,
            onTouch: true
            }
            }); 
            
            
            
            }); //
            $(window).load(function() {
            // isotop
            var $container = $('#isotope-items'),
            $optionSet = $('#isotope-options'), 
            $optionSets = $('#isotope-filters'), 
            $optionLinks = $optionSets.find('a'); 
            $container.isotope({ 
            filter: '*',
            layoutMode: 'fitRows'
            });  
            $optionLinks.click(function(){ 
            var $this = $(this); 
            // don't proceed if already selected 
            if ( $this.hasClass('selected') ) { 
            return false; 
            }    		
            $optionSet.find('.selected').removeClass('selected'); 
            $this.addClass('selected');
            
            var selector = $(this).attr('data-filter'); 
            $container.isotope({ 
                filter: selector            
            }); 
            return false; 
            });    	
            $(window).on("resize", function( event ) {	
            $container.isotope('reLayout');		
            });		
            
            // touchTouch
            $('.thumb-isotope .thumbnail a').touchTouch();
            
            }); //
        </script>		
        
        <!--[if lt IE 8]>
        <div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>
        <![endif]-->    
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>      
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
        <![endif]-->
    </head>
    
    <body class="subpage">
        <div id="main">
            
        INSERT-HTML-FILE:header.html
            
            <div id="slider">
                <div class="txt">Custom Lighting Designs<br>and lighting services</div>
                <img src="images/slide_page4.jpg" alt="" class="img">
                <!-- <img src="images/lighting/lighting_6.jpg" alt="" class="img"> -->
            </div>
            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <h1>Services<br><span>Lighting</span></h1>
                            <p>
                                A well landscaped home is not complete without having the pathways, trees an shrubs beautifully illuminated in the evening. 
                                Plymouth Nursery and Landscape company offers a complete design and installations services for Low voltage lighting.
                                
                            </p>
                            <p>
                                We use only high quality aluminum, brass and copper fixtures in our projects.
                            </p>
                            <p>
                                Please click on any image for a closer look.
                            </p>
                            <!-- Frankie: Not sure if these are needed for the Nursery's purposes, but their functionality is kind of useful, if so -->
                            <!--<div id="isotope-options">
                                <ul id="isotope-filters" class="clearfix">
                                    <li><a href="#" class="selected" data-filter="*">Show All</a></li>
                                    <li><a href="#" data-filter=".isotope-filter1">Category 1</a></li>
                                    <li><a href="#" data-filter=".isotope-filter2">Category 2</a></li>
                                    <li><a href="#" data-filter=".isotope-filter3">Category 3</a></li>
                                </ul>
                            </div>-->
                            <ul class="thumbnails" id="isotope-items">
                                <li class="span4 isotope-element isotope-filter1">
                                    <div class="thumb-isotope">
                                        <div class="thumbnail clearfix">
                                            <a href="images/lighting/lighting_01.jpg">
                                                <figure>
                                                    <img src="images/lighting/lighting_01.jpg" alt=""><em></em>
                                                </figure>
                                            </a>
                                            <div class="caption">
                                                <p>
                                                    <!-- Uncomment and enter a picture caption here -->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="span4 isotope-element isotope-filter2">
                                    <div class="thumb-isotope">
                                        <div class="thumbnail clearfix">
                                            <a href="images/lighting/lighting_02.jpg">
                                                <figure>
                                                    <img src="images/lighting/lighting_02.jpg" alt=""><em></em>
                                                </figure>
                                            </a>
                                            <div class="caption">
                                                <p>
                                                    <!-- Uncomment and enter a picture caption here --> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="span4 isotope-element isotope-filter3">
                                    <div class="thumb-isotope">
                                        <div class="thumbnail clearfix">
                                            <a href="images/lighting/lighting_03.jpg">
                                                <figure>
                                                    <img src="images/lighting/lighting_03.jpg" alt=""><em></em>
                                                </figure>
                                            </a>
                                            <div class="caption">
                                                <p>
                                                    <!-- Uncomment and enter a picture caption here --> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="span4 isotope-element isotope-filter1">
                                    <div class="thumb-isotope">
                                        <div class="thumbnail clearfix">
                                            <a href="images/lighting/lighting_04.jpg">
                                                <figure>
                                                    <img src="images/lighting/lighting_04.jpg" alt=""><em></em>
                                                </figure>
                                            </a>
                                            <div class="caption">
                                                <p>
                                                    <!-- Uncomment and enter a picture caption here --> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="span4 isotope-element isotope-filter2">
                                    <div class="thumb-isotope">
                                        <div class="thumbnail clearfix">
                                            <a href="images/lighting/lighting_05.jpg">
                                                <figure>
                                                    <img src="images/lighting/lighting_05.jpg" alt=""><em></em>
                                                </figure>
                                            </a>
                                            <div class="caption">
                                                <p>
                                                    <!-- Uncomment and enter a picture caption here --> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="span4 isotope-element isotope-filter3">
                                    <div class="thumb-isotope">
                                        <div class="thumbnail clearfix">
                                            <a href="images/lighting/lighting_06.jpg">
                                                <figure>
                                                    <img src="images/lighting/lighting_06.jpg" alt=""><em></em>
                                                </figure>
                                            </a>
                                            <div class="caption">
                                                <p>
                                                    <!-- Uncomment and enter a picture caption here --> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="span4 isotope-element isotope-filter1">
                                    <div class="thumb-isotope">
                                        <div class="thumbnail clearfix">
                                            <a href="images/lighting/lighting_07.jpg">
                                                <figure>
                                                    <img src="images/lighting/lighting_07.jpg" alt=""><em></em>
                                                </figure>
                                            </a>
                                            <div class="caption">
                                                <p>
                                                    <!-- Uncomment and enter a picture caption here --> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="span4 isotope-element isotope-filter3">
                                    <div class="thumb-isotope">
                                        <div class="thumbnail clearfix">
                                            <a href="images/lighting/lighting_08.jpg">
                                                <figure>
                                                    <img src="images/lighting/lighting_08.jpg" alt=""><em></em>
                                                </figure>
                                            </a>
                                            <div class="caption">
                                                <p>
                                                    <!-- Uncomment and enter a picture caption here --> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="span4 isotope-element isotope-filter3">
                                    <div class="thumb-isotope">
                                        <div class="thumbnail clearfix">
                                            <a href="images/lighting/lighting_09.jpg">
                                                <figure>
                                                    <img src="images/lighting/lighting_09.jpg" alt=""><em></em>
                                                </figure>
                                            </a>
                                            <div class="caption">
                                                <p>
                                                    <!-- Uncomment and enter a picture caption here --> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="span4 isotope-element isotope-filter1">
                                    <div class="thumb-isotope">
                                        <div class="thumbnail clearfix">
                                            <a href="images/lighting/lighting_10.jpg">
                                                <figure>
                                                    <img src="images/lighting/lighting_10.jpg" alt=""><em></em>
                                                </figure>
                                            </a>
                                            <div class="caption">
                                                <p>
                                                    <!-- Uncomment and enter a picture caption here --> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="span4 isotope-element isotope-filter2">
                                    <div class="thumb-isotope">
                                        <div class="thumbnail clearfix">
                                            <a href="images/lighting/lighting_11.jpg">
                                                <figure>
                                                    <img src="images/lighting/lighting_11.jpg" alt=""><em></em>
                                                </figure>
                                            </a>
                                            <div class="caption">
                                                <p>
                                                    <!-- Uncomment and enter a picture caption here --> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="span4 isotope-element isotope-filter3">
                                    <div class="thumb-isotope">
                                        <div class="thumbnail clearfix">
                                            <a href="images/lighting/lighting_12.jpg">
                                                <figure>
                                                    <img src="images/lighting/lighting_12.jpg" alt=""><em></em>
                                                </figure>
                                            </a>
                                            <div class="caption">
                                                <p>
                                                    <!-- Uncomment and enter a picture caption here --> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="span4 isotope-element isotope-filter1">
                                    <div class="thumb-isotope">
                                        <div class="thumbnail clearfix">
                                            <a href="images/lighting/lighting_13.jpg">
                                                <figure>
                                                    <img src="images/lighting/lighting_13.jpg" alt=""><em></em>
                                                </figure>
                                            </a>
                                            <div class="caption">
                                                <p>
                                                    <!-- Uncomment and enter a picture caption here --> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="span4 isotope-element isotope-filter2">
                                    <div class="thumb-isotope">
                                        <div class="thumbnail clearfix">
                                            <a href="images/lighting/lighting_14.jpg">
                                                <figure>
                                                    <img src="images/lighting/lighting_14.jpg" alt=""><em></em>
                                                </figure>
                                            </a>
                                            <div class="caption">
                                                <p>
                                                    <!-- Uncomment and enter a picture caption here --> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="span4 isotope-element isotope-filter3">
                                    <div class="thumb-isotope">
                                        <div class="thumbnail clearfix">
                                            <a href="images/lighting/lighting_15.jpg">
                                                <figure>
                                                    <img src="images/lighting/lighting_15.jpg" alt=""><em></em>
                                                </figure>
                                            </a>
                                            <div class="caption">
                                                <p>
                                                    <!-- Uncomment and enter a picture caption here --> 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="slider2">
                <div id="slider2_inner">
                    <ul id="slider2_carousel" class="clearfix">
                        <li>
                            <div class="txt3">
                                <a href="http://www.angieslist.com/companylist/us/pa/plymouth-meeting/plymouth-nursery-landscape-co-reviews-124095.htm?cid=ssabadge">
                                    <img src="images/angies-list-2016.png" class="img-responsive" alt="Angie's List Super Service Award Winnger" /> 2016 Angie's List Super Service Award Winner
                                </a>                            
                            </div>
                        </li>
                        <!--<li>
                            <div class="txt1">
                            	Landscape Design working since 2003
                            </div>
                            <div class="txt2">
                            	Duis pulvinar. Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu libero consectetuer massa, auctor aliquet mauris ligula id ipsum. Vestibulum pede. Maecenas sit amet augue. Sed blandit lect
                            </div>		
                            </li>
                            <li>
                            <div class="txt1">
                            	Good support for your business!
                            </div>
                            <div class="txt2">
                            	Duis pulvinar. Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu libero consectetuer massa, auctor aliquet mauris ligula id ipsum. Vestibulum pede. Maecenas sit amet augue. Sed blandit lect
                            </div>		
                            </li>-->			
                    </ul>
                    <a class="prev" href="#"></a>
                    <a class="next" href="#"></a>
                </div>
            </div>
            
        INSERT-HTML-FILE:footer.html
            
        </div>
        <!--
            <script>
                w3IncludeHTML();
            </script>
        -->
        
        INSERT-HTML-FILE:googleanalyticstracking.html
        
    </body>
</html>