/* GOOGLE FONTS */

@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Fredoka+One);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
@import url(http://fonts.googleapis.com/css?family=Roboto:700);
/* Global properties ======================================================== */

a[href^="tel:"] {
    color: inherit;
    text-decoration: none;
}
::selection {
    background: #a0c822!important;
    color: #fff
}
::-moz-selection {
    background: #a0c822!important;
    color: #fff
}
a {
    color: #fff;
    text-decoration: underline;
    outline: none
}
a:hover {
    color: #a0c822;
    text-decoration: none;
    outline: none
}
body {
    background: #131415;
    border: 0;
    font: 14px Arial, Helvetica, sans-serif;
    color: #8e8e8e;
    line-height: 20px;
    min-width: 320px;
}
#main {
    margin: 0 auto;
    position: relative;
}
/* ============================= header ====================== */

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
    width: 100%;
    height: 99px;
    background: url(../images/header.png) 0 0 repeat-x;
}
.logo_wrapper {
    float: left;
}
.logo_inner {
    width: 241px;
    height: 106px;
    background: url(../images/logo_bg.png) 0 0 no-repeat;
    text-align: center;
}
.logo img {
    /* padding-top: 25px; */
    padding-top: 1px;
}
/* .logo img{padding-top: 0px;} */
/* ============================= content ====================== */

#content {
    border-top: 4px solid #484848;
    background: url(../images/content_bg2.jpg) 0 0 repeat-x #1a1b1d;
    padding-top: 40px;
    padding-bottom: 40px;
}
.main #content {
    border-top: 4px solid #484848;
    background: url(../images/content_bg.jpg) 0 0 repeat-x #0f0f0f;
    padding-top: 0px;
    padding-bottom: 0px;
}
#content2 {
    background: #131314;
    padding-top: 30px;
    padding-bottom: 30px;
}
/* ============================= footer ====================== */

footer {
    position: relative;
    background: #131415;
}
.bot1 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.bot2 {
    padding-bottom: 30px;
}
.copyright {
    color: #5a5a5a;
    padding-top: 0px;
    line-height: 20px;
    font-size: 12px;
    float: left;
    padding-top: 6px;
}
.social_wrapper {
    float: right;
}
.social {
    display: inline-block;
    margin: 0 0px;
    padding-top: 0px;
    list-style: none;
    white-space: nowrap;
}
.social li {
    display: inline-block;
    margin: 0 3px;
    float: left;
}
.social li a {
    display: block;
}
/* ============================= slider ====================== */

.subpage #slider {
    position: relative;
}
.subpage #slider .txt {
    text-align: center;
    width: 100%;
    font-family: 'Lobster';
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0px;
    z-index: 10;
}
.subpage #slider .img {
    width: 100%;
    position: relative;
    z-index: 1;
}
/* ============================= slider2 ====================== */

#slider2 {
    position: relative;
    z-index: 1;
    padding: 20px 0;
}
#slider2_inner {
    max-width: 1000px;
    margin: 0 auto;
    background: url(../images/slider2.png);
    position: relative;
}
#slider2 .caroufredsel_wrapper {
    width: 100%!important;
}
#slider2_carousel {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
#slider2_carousel li {
    color: #999;
    text-align: center;
    padding: 0 100px;
    margin: 0;
    display: block;
    float: left;
}
#slider2_carousel .txt1 {
    font-family: 'Lobster';
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    padding-top: 30px;
}
#slider2_carousel .txt2 {
    font-family: 'Roboto';
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    padding-top: 20px;
    padding-bottom: 30px;
}
/* ============================= slider3 ====================== */

#slider3_wrapper {
    position: relative;
    background: #1a1b1d;
    padding-top: 40px;
    padding-bottom: 50px;
}
#slider3 {
    position: relative;
}
.prev3 {
    display: block;
    width: 32px;
    height: 33px;
    background: url(../images/prev3.png) left top no-repeat;
    position: absolute;
    left: 25px;
    top: 0px;
    z-index: 100;
}
.prev3:hover {
    background-position: bottom;
}
.next3 {
    display: block;
    width: 32px;
    height: 33px;
    background: url(../images/next3.png) left top no-repeat;
    position: absolute;
    right: 25px;
    top: 0px;
    z-index: 100;
}
.next3:hover {
    background-position: bottom;
}
.slider3-title {
    font-family: 'Fredoka One';
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 25px;
    text-align: center;
}
.carousel-box {
    position: relative;
}
.carousel-box .inner {
    position: relative;
    overflow: hidden;
}
.carousel.main {
    position: relative;
    overflow: hidden;
    width: 960px;
    margin: 0;
    padding: 0;
}
.caroufredsel_wrapper {
    padding: 0;
    margin: 0;
}
.caroufredsel_wrapper ul {
    padding: 0;
    margin: 0;
}
.carousel-box ul li {
    float: left;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    position: relative;
    width: 300px;
    overflow: hidden;
    padding-right: 20px
}
.prev {
    display: block;
    width: 32px;
    height: 33px;
    background: url(../images/prev.png) left top no-repeat;
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -16px;
    z-index: 100;
}
.prev:hover {
    background-position: bottom;
}
.next {
    display: block;
    width: 32px;
    height: 33px;
    background: url(../images/next.png) left top no-repeat;
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -16px;
    z-index: 100;
}
.next:hover {
    background-position: bottom;
}
/* ============================= main menu ====================== */

.menu_wrapper {
    float: right;
    padding-top: 20px;
}
.navbar_ {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 30;
}
.navbar_ .navbar-inner_ {
    padding: 0;
    margin: 0;
    border: none;
    min-height: inherit;
    background: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    filter: none;
}
.navbar_ .btn-navbar {
    width: 31px;
    height: 31px;
    background: #c8694b;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-top: 0px;
    margin-right: 0;
    margin-left: 192px;
    margin-bottom: -27px;
    position: relative;
    z-index: 2;
    float: none;
    padding: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.navbar_ .btn-navbar:hover {
    background: #913417;
}
.navbar_ .btn-navbar .icon-bar {
    background-image: none;
    width: 31px;
    height: 4px;
    background: #fff;
    margin-top: 2px;
}
.navbar_ .btn-navbar .icon-bar:first-child {
    margin-top: 7px;
}
.nav-collapse_.collapse {
    position: relative;
    display: block;
    text-align: left;
}
.navbar_ .nav {
    position: relative;
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    left: auto;
}
.navbar_ .nav > li {
    position: relative;
    display: block;
    float: left;
    white-space: nowrap;
    background: url(../images/nav_bg.png) left top repeat-y;
}
.navbar_ .nav > li:first-child {
    background: none;
}
.navbar_ .nav > li > a {
    position: relative;
    display: block;
    height: 40px;
    text-decoration: none;
    background: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    color: #a1a1a1;
    padding: 0px 20px;
    border: none;
    margin: 0;
    text-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
}
.navbar_ .nav > li > a em {
    display: inline-block;
    width: 8px;
    height: 5px;
    background: url(../images/marker0.png) left top no-repeat;
    position: relative;
    margin-left: 10px;
    margin-top: 18px;
    vertical-align: top;
}
.navbar_ .nav > li.active > a,
.navbar_ .nav > li.active > a:hover,
.navbar_ .nav > li.active > a:focus,
.navbar_ .nav > li > a:hover,
.navbar_ .nav > li > a:focus,
.navbar_ .nav > li.sfHover > a,
.navbar_ .nav > li.sfHover > a:hover {
    color: #fff;
    text-decoration: none;
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: none;
}
.sub-menu ul {
    position: absolute;
    display: none;
    left: 0px;
    top: 63px;
    list-style: none;
    zoom: 1;
    z-index: 109;
    margin: 0;
    padding: 10px 20px;
    background: url(../images/submenu_bg.png);
    text-align: left;
}
.sub-menu li {
    margin: 0;
    position: relative;
    zoom: 1;
    display: block;
    background: url(../images/nav_bg.png) left top repeat-x;
}
.sub-menu li:first-child {
    background: none;
}
.sub-menu li a {
    display: block;
    position: relative;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    color: #a1a1a1;
    text-decoration: none;
    padding: 0px 35px 0px 0px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.sub-menu li a:hover {
    text-decoration: none;
    color: #dd7453;
}
.sub-menu li a em {
    display: inline-block;
    width: 5px;
    height: 9px;
    background: url(../images/marker1.png) left top no-repeat;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -5px;
}
.sub-menu li a:hover em {} .sub-menu-1 > ul {} .sub-menu-2 > ul {
    left: 100%;
    top: -10px;
    margin-left: 20px;
}
/* ============================= menu bot ====================== */

.menu_bot {
    float: left;
    position: relative;
    z-index: 10;
    text-align: center;
    white-space: nowrap;
    padding-top: 5px;
}
#menu_bot {
    list-style: none;
    display: block;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}
#menu_bot > li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    float: left;
    white-space: nowrap;
}
#menu_bot > li:first-child {
    margin-left: 0;
}
#menu_bot > li > a {
    display: block;
    height: 100%;
    text-decoration: none;
    position: relative;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    color: #a1a1a1;
    border-bottom: 2px solid transparent;
    padding: 0 5px;
}
#menu_bot > li.active > a,
#menu_bot > li > a:hover,
#menu_bot > li > a:focus {
    color: #fff;
    text-decoration: none;
    border-bottom-color: #fff;
}
/* ============================= search-form ====================== */

.search-form-wrapper {
    float: right;
}
.navbar-form {
    float: left;
    position: relative;
    z-index: 11;
    margin: 0px 0px 0 0;
    padding: 0;
}
.navbar-form input {
    width: 190px;
    height: 20px;
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    color: #757576;
    background: #202224;
    border: none;
    border: 1px solid #202224;
    margin: 0;
    padding: 8px 50px 7px 10px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-form input:focus {
    color: #fff;
    border-color: #fff;
    -moz-box-shadow: inset none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-form a {
    text-decoration: none;
    margin: 0;
    display: inline-block;
    border-left: none;
    width: 42px;
    height: 28px;
    background: url(../images/search.png) left top no-repeat;
    position: absolute;
    right: 0;
    top: 4px;
}
.navbar-form a:hover {
    background-position: right;
}
/* ============================= toTop ====================== */

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border: none;
    text-indent: 100%;
    background: url(../images/totop.gif) no-repeat left top;
}
#toTopHover {
    background: url(../images/totop.gif) no-repeat left bottom;
    width: 50px;
    height: 50px;
    display: block;
    overflow: hidden;
    float: left;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
#toTop:active,
#toTop:focus {
    outline: none;
}
/* ============================= main layout ====================== */

h1 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #6a6a73;
    line-height: 30px;
    padding: 15px 0 15px 0;
    margin: 0;
    text-transform: uppercase;
}
h1 span {
    font-family: 'Fredoka One';
    text-transform: none;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
}
h1.home {
    font-family: 'Fredoka One';
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    padding: 0px 0 15px 0;
    margin: 0;
    color: #fff;
}
h1.home span {
    font-size: 30px;
    color: #aeaeb4;
    font-weight: 400;
    line-height: 30px;
}
h2 {
    font-family: 'Fredoka One';
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    line-height: 30px;
    padding: 25px 0 15px 0;
    margin: 0;
}
h3 {
    font-family: 'Fredoka One';
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    line-height: 30px;
    padding: 25px 0 15px 0;
    margin: 0;
}
h4 {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    padding: 0px 0 10px 0;
    margin: 0;
    text-transform: uppercase;
}
h4 a {
    text-decoration: underline;
    color: #fff;
}
h4 a:hover {
    text-decoration: none;
    color: #a0c822;
}
h5 {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    color: #fff;
    padding: 0px 0 10px 0;
    margin: 0;
}
h6 {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 0px 0 10px 0;
    margin: 0;
}
.upper {
    text-transform: uppercase;
}
.color1 {
    color: #aeaeae;
}
.line1 {
    height: 1px;
    background: #343639;
    margin: 15px 0;
}
.radius1 {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.pad_bot1 {
    padding-bottom: 20px;
}
.sloganfont {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding: 0px 0 10px 0;
    margin: 0;
}
/* === */

.banners {
    padding-top: 25px;
    padding-bottom: 20px;
}
.banners .banner {
    margin-bottom: 20px;
    text-align: center;
}
.banners .banner_inner {
    padding: 0 20px;
}
.banners .img {
    padding-bottom: 15px;
}
.banners .txt1 {
    font-family: 'Fredoka One';
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    padding-bottom: 15px;
}
.banners .txt2 {
    color: #757575;
    padding-bottom: 25px;
}
.more1 {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    position: relative;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0px;
    background: url(../images/more1.jpg) 0 0 repeat-x;
    padding: 0 30px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.more1:hover {
    color: #000;
    background-position: bottom;
}
.button1 {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    position: relative;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #77787c;
    white-space: nowrap;
    letter-spacing: 0px;
    background: #242426;
    padding: 0 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.button1:hover {
    color: #000;
    background: #84a714;
}
.ul1 {
    padding: 0;
    margin: 0;
    list-style: none;
}
.ul1 > li {
    font-family: 'Roboto';
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    color: #a2a2a2;
    line-height: 20px;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    border-bottom: 1px solid #232324;
}
.ul1 > li a {
    display: block;
    color: #a2a2a2;
    text-decoration: none;
    background: url(../images/li_st1.png) right center no-repeat;
    padding-right: 30px;
}
.ul1 > li a:hover {
    color: #a0c822;
    text-decoration: none;
    background: url(../images/li_st1_over.png) right center no-repeat;
}
.caroufredsel_slider {
    margin-top: 20px;
    position: relative;
}
.caroufredsel_wrapper {
    width: 100%!important;
}
#caroufredsel {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
#caroufredsel li {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}
.pagination {
    position: absolute;
    right: 5px;
    bottom: 15px;
    z-index: 10;
}
.pagination a {
    display: inline-block;
    width: 10px;
    height: 9px;
    background: url(../images/pagination.png) left top no-repeat;
    margin: 0 2px;
}
.pagination a:hover,
.pagination a.selected {
    background-position: right;
}
.pagination a span {
    display: none;
}
.testimonial1 {
    margin-bottom: 20px;
}
.testimonial1 .txt1 {
    padding: 20px;
    background: url(../images/testimonial1.png) 20px 15px no-repeat #292a2c;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    font-style: italic;
    color: #c3c3c3;
    font-size: 12px;
    line-height: 18px;
}
.testimonial1 .txt2 {
    background: url(../images/testimonial2.png) 30px 0px no-repeat;
    line-height: 20px;
    color: #bfbfbf;
    min-height: 30px;
    padding-top: 15px;
    padding-left: 15px;
    font-weight: bold;
}
.testimonial1 .txt2 span {
    color: #585858;
    font-weight: normal;
}
.google_map {
    position: relative;
    overflow: hidden;
    margin: 0 0 20px 0;
    padding: 12px;
    background: #242426;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
.google_map iframe {
    position: relative;
    width: 100%;
    height: 450px;
    border: none;
}
/* ============================= thumbnail ====================== */

.img-polaroid {
    position: relative;
    padding: 7px;
    background: #242426;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.img-polaroid.w1 {
    padding: 12px;
}
.img-shadow1 {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
.thumbnail .caption {
    padding: 0;
    color: #8e8e8e
}
.thumb1 {
    margin-bottom: 20px;
}
.thumb1.last {
    margin-bottom: 0px;
}
.thumb1 .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.thumb1 figure {
    margin: 0;
    float: left;
    margin: 0px 20px 20px 0px;
}
.thumb1 figure img {
    width: auto;
}
.thumb1 .caption {} .thumb2 {
    margin-bottom: 20px;
}
.thumb2.last {
    margin-bottom: 0px;
}
.thumb2 .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.thumb2 figure {
    margin: 0;
    float: none;
    margin: 0px 0px 20px 0px;
}
.thumb2 figure img {
    width: 100%;
}
.thumb2 .caption {} .thumb3 {
    margin-bottom: 20px;
}
.thumb3.last {
    margin-bottom: 0px;
}
.thumb3 .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.thumb3 figure {
    margin: 0;
    float: left;
    margin: 0px 20px 20px 0px;
}
.thumb3 figure img {
    width: auto;
}
.thumb3 .caption {
    overflow: hidden;
}
.thumb-carousel {} .thumb-carousel .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.thumb-carousel figure {
    position: relative;
    margin: 0;
    float: none;
    margin: 0px 0px 0px 0px;
    padding: 7px;
    background: #242426;
    border: none;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.thumb-carousel .thumbnail a {
    position: relative;
    display: block;
    text-decoration: none;
}
.thumb-carousel .thumbnail a:hover figure {
    background: #fff;
}
.thumb-carousel .thumbnail a img {
    width: 100%;
}
.thumb-carousel .caption {
    padding-top: 15px;
}
.thumb-carousel .thumbnail a .caption .txt1 {
    font-family: 'Roboto';
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
.thumb-carousel .thumbnail a .caption .txt2 {
    color: #8e8e8e;
    text-transform: uppercase;
}
.thumb-isotope {} .thumb-isotope .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.thumb-isotope figure {
    position: relative;
    margin: 0;
    float: none;
    margin: 0px 0px 20px 0px;
    padding: 7px;
    background: #242426;
    border: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.thumb-isotope .thumbnail a {
    position: relative;
    display: block;
}
.thumb-isotope .thumbnail a:hover figure {
    background: #7c9b1c;
}
.thumb-isotope .thumbnail a img {
    width: 100%;
}
.thumb-isotope .thumbnail a em {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: url(../images/photo1.png) center center no-repeat;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.thumb-isotope .thumbnail a:hover em {
    opacity: 1;
    filter: alpha(opacity=100);
}
.thumb-isotope .caption {}
/* ============================= accordion ====================== */

.accordion {
    margin-bottom: 20px;
}
.accordion-group {
    margin-bottom: 6px;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.accordion-heading {
    border-bottom: 0;
}
.accordion-heading .accordion-toggle {
    text-decoration: none;
    display: block;
    padding: 16px 10px 16px 75px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    color: #aeaeae;
    background: url(../images/accordion1.png) 13px 15px no-repeat #242426;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
.accordion-heading .accordion-toggle:hover {
    text-decoration: none;
    color: #fff;
    background: url(../images/accordion1_over.png) 13px 15px no-repeat #84a714;
}
.accordion-inner {
    background: none;
    border-left: 1px solid #242426;
    border-top: none;
    padding: 0;
    padding-left: 20px;
    margin: 15px 0 15px 10px;
}
/*================= Contacts =========================*/

#note {} .notification_error {
    color: #f00;
    padding-bottom: 10px;
}
.notification_ok {
    text-align: left;
    padding-bottom: 10px;
}
#ajax-contact-form .control-group {
    margin-bottom: 10px;
}
#ajax-contact-form .control-label {
    display: none;
}
#ajax-contact-form .controls {
    margin-left: 0;
}
#ajax-contact-form input,
#ajax-contact-form textarea {
    background: #242426;
    border: 1px solid #343639;
    color: #8e8e8e;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-box-shadow: inset 0px 3px 20px 3px #242426;
    -webkit-box-shadow: inset 0px 3px 20px 3px #242426;
    box-shadow: inset 0px 3px 20px 3px #242426;
    font-size: 14px;
}
#ajax-contact-form input:focus,
#ajax-contact-form textarea:focus {
    border-color: #7c9b1c;
}
#ajax-contact-form textarea {
    height: 124px;
}
#ajax-contact-form .control-group.capthca {
    margin-bottom: 0px;
}
#ajax-contact-form .capthca input {
    width: 156px;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}
#ajax-contact-form img {
    float: left;
    width: 170px;
    height: 42px;
    margin-bottom: 10px;
}
#ajax-contact-form .submit {
    border: 0;
    margin: 0;
    display: inline-block;
    line-height: 38px;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0px;
    background: url(../images/more1.jpg) 0 0 repeat-x;
    padding: 0 40px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
#ajax-contact-form .submit:hover {
    color: #000;
    background-position: bottom;
}
/*================= 404 =========================*/

.page-404 {
    text-align: center;
}
.page-404 .txt1 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 220px;
    color: #fff;
    line-height: 220px;
}
.page-404 .txt2 {
    font-family: 'Fredoka One';
    font-weight: 400;
    font-size: 70px;
    color: #fff;
    line-height: 70px;
}
/*----- media queries ------*/
/* Large desktop */

@media (min-width: 1200px) {
    #slider2_inner {
        max-width: 1230px;
    }
    #slider2_carousel .txt1 {
        font-size: 40px;
        line-height: 40px;
    }
    #slider2_carousel .txt2 {
        font-size: 20px;
        line-height: 24px;
    }
    #slider3 .carousel.main {
        width: 1190px;
    }
    .subpage #slider .txt {
        font-size: 50px;
        line-height: 50px;
        margin-top: -0px;
    }
}
/* Default landscape and desktop to large desktop */

@media (max-width: 1199px) {} @media (min-width: 980px) and (max-width: 1199px) {}
/* Portrait tablet to landscape and desktop */

@media (max-width: 979px) {
    #slider2_carousel .txt1 {
        font-size: 20px;
        line-height: 20px;
    }
    #slider2_carousel .txt2 {
        font-size: 14px;
        line-height: 18px;
    }
    .subpage #slider .txt {
        font-size: 30px;
        line-height: 30px;
        margin-top: 10px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .navbar_ .nav > li > a {
        font-size: 16px;
        padding: 0 10px;
    }
    .nav-collapse_.collapse {
        height: auto!important;
        overflow: visible!important;
    }
    .navbar_ .btn-navbar {
        display: none;
    }
    #slider2_inner {
        max-width: 784px;
    }
    #slider3 .carousel.main {
        width: 744px;
    }
}
/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    .container {
        width: 440px;
    }
    .logo_wrapper {
        text-align: center;
        float: none;
    }
    .menu_wrapper {
        float: none;
        padding-top: 5px;
    }
    .logo_inner {
        display: inline-block;
    }
    .navbar_ .btn-navbar {
        display: block;
    }
    .navbar_ .nav {
        padding: 10px 20px;
        background: url(../images/submenu_bg.png);
        text-align: left;
    }
    .navbar_ .nav > li {
        float: none;
        background: url(../images/nav_bg.png) left top repeat-x;
    }
    .navbar_ .nav > li > a {} .navbar_ .nav > li > a em {} .sub-menu ul {
        position: relative;
        left: 0;
        top: 0;
        margin: 0;
        border: none;
        padding-left: 20px;
    }
    #slider2_inner {
        max-width: 480px;
    }
    #slider3 .carousel.main {
        width: 460px;
    }
    .menu_bot {
        float: none;
    }
    #menu_bot > li {
        display: block;
        float: none;
        background: none;
        padding: 0;
        margin: 0;
    }
    #menu_bot > li > a {
        font-size: 16px;
        line-height: 25px;
        padding: 5px 0px;
    }
    .search-form-wrapper {
        float: none;
        margin-top: 25px;
    }
    .navbar-form input {
        width: 370px;
    }
    .copyright {
        float: none;
    }
    .social_wrapper {
        float: none;
        padding-top: 20px;
    }
    .subpage #slider {
        width: 100%;
        height: 230px;
        position: relative;
        overflow: hidden;
    }
    .subpage #slider .img {
        width: 760px;
        max-width: none;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -380px;
        z-index: 1;
    }
    .subpage #slider .txt {
        display: none;
    }
    .google_map iframe {
        height: 400px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {}
/* Landscape phones and down */

@media (max-width: 480px) {
    .container {
        width: 300px;
    }
    .navbar_ .btn-navbar {
        margin-left: 122px;
    }
    .thumb1 figure {
        float: none;
        margin-right: 0;
    }
    .thumb1 figure img {
        width: 100%;
    }
    #slider2_inner {
        max-width: 320px;
    }
    #slider2_carousel li {
        padding: 0 50px;
    }
    .prev {
        left: 0px;
    }
    .next {
        right: 0px;
    }
    #slider3 .carousel.main {
        width: 320px;
    }
    .slider3-title {
        font-size: 16px;
    }
    .navbar-form input {
        width: 230px;
    }
    .thumb3 figure {
        float: none;
        margin-right: 0;
    }
    .thumb3 figure img {
        width: 100%;
    }
    .thumb3 .caption {
        overflow: auto;
    }
    .google_map iframe {
        height: 240px;
    }
    .page-404 .txt1 {
        font-size: 150px;
        line-height: 150px;
    }
    .page-404 .txt2 {
        font-size: 50px;
        line-height: 50px;
    }
}